* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.container {
    padding: 25px 50px;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
    background: rgba(62, 62, 77, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 10px;
    border: 2px solid rgba(133, 128, 128, 0.18);
    transition: transform 2s, box-shadow 0.9s, ;
    animation: boxShadowColor 9s infinite alternate;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    
    
    
}

@keyframes boxShadowColor {
    0% {
        box-shadow: 0 8px 32px 0 rgba(255, 0, 0, 0.322);
        transform: rotateX(10deg) rotateY(-10deg) rotateZ(-1deg);
    
    }
    25%{
        transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
        box-shadow: 0 8px 32px 0 rgba(238, 255, 0, 0.384);
    }

    50% {
        box-shadow: 0 8px 32px 0 rgba(0, 255, 0, 0.384);
        transform: rotateX(-10deg) rotateY(10deg) rotateZ(1deg);
    }
    75%{
        box-shadow: 0 8px 32px 0 rgba(3, 238, 255, 0.384);
        transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
        
    }

    100% {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 255, 0.322);
        transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
    }
}





header h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

header p {
    font-size: 16px;
    color: #ffffff;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
   
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 10px;
    color: #ffffff;
    background-color: #ffffff3b;
    transition: background-color 0.3s, color 0.3s;
    font-size: small;
}



.link:hover {
    background-color: #000000;
    color: rgb(255, 251, 5);
    box-shadow: #f8f40049 0px 0px 15px;
    fill: rgb(255, 251, 5)
}

footer {
    font-size: 12px;
    color: #aaa;
}



.profile-picture {
    border-radius: 60px;
    margin: 10px;
    ;
    height: 120px;
    transition: 1s;

}

.profile-picture:hover {
    transform: scale(1.05);
    
    border-radius: 10px;

}





.container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 60px 0 rgba(229, 255, 0, 0.37);
    animation: alternate;
 
    




}

svg {
    width: 50px;
    display: inline;


}
/* Set video as the background */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the video take full width */
    height: 100%; /* Make the video take full height */
    object-fit: cover; /* Ensures the video covers the entire area without distortion */
    z-index: -1; /* Ensures video is behind the content */
  }


  .form-container {
    background-color: rgba(255, 255, 255, 0.137);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #ffffff;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: smaller;
}

input {
    margin-bottom: 10px;
    padding: 5px;
  
    border-radius: 8px;
    font-size: 12px;
    background-color: #0000002c;
    color: #ffffff;
}

button {
    padding: 5px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #eeff00e5;
    color: #000000;
    font-weight: bold;
}
  
 
  
  
