* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url('https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg?w=740&t=st=1727203102~exp=1727203702~hmac=28f9dced3d2fdca8538c86fa58edf963051b614bdb57814b2b805a3cb18bf965');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}
.container {
    padding: 25px 50px;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
    background: rgba(62, 62, 77, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 10px;
    border: 2px solid rgba(133, 128, 128, 0.18);
    transition: transform 0.3s, box-shadow 0.9s;
    animation: boxShadowColor 5s infinite alternate;
}

@keyframes boxShadowColor {
    0% {
        box-shadow: 0 8px 32px 0 rgba(255, 0, 0, 0.322); 
    }
    50% { 
        box-shadow: 0 8px 32px 0 rgba(0, 255, 0, 0.322); 
    }
    100% {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 255, 0.322); 
    }
}





header h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #ffffff;
}

header p {
    font-size: 16px;
    color: #ffffff;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
    text-align: left;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 10px;
    color: #333;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}



.link:hover {
    background-color: #000000;
    color: rgb(255, 251, 5);
    box-shadow: #f8f4004f 0px 0px 15px;
    fill:rgb(255, 251, 5)
}

footer {
    font-size: 14px;
    color: #aaa;
}



.profile-picture {
    border-radius: 60px;
    margin: 10px;;
    height: 120px;
    transition: 1s;
   
}
.profile-picture:hover{
    transform: scale(1.05);
    
    border-radius: 10px;
   
}
.container:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 60px 0 rgba(229, 255, 0, 0.37);
    animation: alternate;

}
svg {
    width: 50px;
    display: inline;
    
   
}